


.card{
    background-color: rgba(255, 255, 255, 0.686);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(140, 138, 138, 0.12), 0 1px 2px rgba(106, 105, 105, 0.24);
    column-gap: 1vw;
    width:50vw;
    margin: 1rem;
    display: flex;
    flex-direction: row;

    position: inherit;
}
.card:hover{
    box-shadow: 0 0 0 1px #899aa6;
   
}

/* 
reduce card image to fit into the card
*/
.cardImage{
    width: 15vw;
    height: 15vw;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    border-color: aliceblue;
}

.cardTitle{
    font-size: 1vw;
    font-weight: 600;
    margin:0;
    padding:0;
}

.cardDescription{
    font-size: 1vw;
    font-weight: 400;
    word-wrap: break-word;
}
.firstLayer{
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    margin-top:1vw;
}
/*
design the button
*/

.price{
    background-color:#40bb15;
    border-color:  #40bb15;
    border-style:solid;
    border-radius: 5px;
    height: 2rem;
    width:6vw;
    font-size: 1vw;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-right: 2vw;
    

}
.card-link{
    background-color: #23a6f0;
    border-radius: 5px;
    color:#fff;
    font-size: 1vw;
    font-weight: 600;
    height: 2rem;
    width: 5vw;
    border-style: solid;
    border-color: #23a6f0;
    cursor: pointer;
}
.buy-button{
    display: flex;
    justify-content: flex-end;
    margin-top:-2vw;
    margin-right: 2vw;
    margin-bottom:1vw;
}
.Right-Side{
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    column-gap: 1vw;
    
}
