.searchbar-container{
    margin-top: auto;
    padding-left: 21.5%;
    padding-top: 5%;
    display: flex;
    position: absolute;
    height: auto;

}
.searchbar{
    width:50vw;
    transition: width 0.25s;
    position:relative;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d9e2e8;
    font-size: 16px;
    background-color: #d9e2e8;
    font-family: Arial, Helvetica, sans-serif;
}
.searchbar:focus{
    outline: none;
    border-color: #f2f3f4;
}

.search-icon
{
    width: 50%;
    height: 50%;
    color: #ccc;
    display:flex;
    padding: 25%;
  
}
.searchbar-box{
   background-color: #fa4e46;
    width: 62px;
   position: relative;
   border-radius: 10px;
   border-color:rgb(230, 230, 230);
}
.searchbar-box:hover{
    background-color: #e70c00;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .searchbar-box{
        background-color: #fa4e46;
         width: 62px;
         
        position: relative;
        border-radius: 10px;
        border-color:rgb(230, 230, 230);
     }
     .search-icon
    {
        width: 50%;
        height: 50%;
        color: #ccc;
        display:flex;
        padding: 25%;
    }
    .load-search{
        margin-left: 50%;
        padding-top:12vw;
        position:absolute;
    }
}

@media screen and (max-width: 1920px) {
   
    .searchbar-box{
        background-color: #fa4e46;
         width: 62px;
         margin-left:1%;
        position: relative;
        border-radius: 10px;
        border-color:rgb(230, 230, 230);
     }
     .search-icon
    {
        width: 50%;
        height: 50%;
        color: #ccc;
        display:flex;
        padding: 25%;
    }
    .load-search{
        margin-left: 50%;
        padding-top:12vw;
        position:absolute;
    }

}

@media screen and (max-device-width: 415px)   {
    .searchbar-box{
        background-color: #fa4e46;
        width: 62px;
        position: relative;
        border-radius: 10px;
        border-color:rgb(230, 230, 230);
     }
     .search-icon
    {
        width: 50%;
        height: 50%;
        color: #ccc;
        display:flex;
        padding: 25%;
    }
    .load-search{
        margin-left: 50%;
        padding-top:12vw;
        position:absolute;
    }

}
.sl-container{
    display:flex;
    flex-direction: column;
}
.load-search{
    margin-left: 50%;
    padding-top:12vw;
    position:absolute;
}
