.header{
    background: linear-gradient(90deg, rgb(0, 194, 203) 0%, rgb(105, 190, 118) 0%,rgb(221, 185, 28) 100%);
    width:100vw;
}
.logo{
    width: 60px;
    object-fit: contain;
    margin-left: 20px;
    transform: scale(1.5);
}