.App{
    width:100vw;
   
}

.header{
    background-color: #fff;
    width:100vw;
}
.body-placement{
    margin-top:15vw;
    display:flex;
    justify-content: center;
    flex-direction: row;
    background-color: #f0f3f5;
    border:1px solid #e5ebf0;
}
.welcome-tag{
    font-size: 2.5vw;
    font-weight: 600;
    margin-top:5vw;
    padding:0;
    /*align centre */
    display: flex;
    justify-content: center;
    text-align: center;
}
.card__link{
    text-decoration: none;
    color: #000;
}

.provider-filter{
    margin-left: -5vw;
    width: 20vw;
    min-width:20vw;
    border-radius: 10px;
    background-color:#f0f3f5;
}
.filter-placement{
   display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.Supp-title{
    font-size: 2vw;
    text-align: center;
    margin-top: 2vw;
    margin-left: 1vw;
}
.filter-checkbox{
    margin-left: 1vw;
    margin-top: 1vw;
    text-align: left;
    cursor: pointer;
}
.filter-label{

    font-size: 1vw;
    text-align: left;
}
.filter-btn{
    margin-top: 1vw;
    margin-left: 5vw;
    width: 10vw;
    height: 3vw;
    border-radius: 10px;
    background: linear-gradient(90deg, #c95d57 0%, #e95b54 0%, #e70c00 100%);
    color: #fff;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}



