.App{
    width:100vw;
   
}

.header{
    background-color: #fff;
    width:100vw;
}
.body-placement{
    margin-top:20vw;
    display:flex;
    justify-content: center;
    flex-direction: row;
    
}
.welcome-tag{
    font-size: 3vw;
    font-weight: 600;
    margin-top:5vw;
    padding:0;
    /*align centre */
    display: flex;
    justify-content: center;
    text-align: center;
}
.card__link{
    text-decoration: none;
    color: #000;
}